<!-- <% Entry.where(private: false).each do |entry| %>
  <section class="single-entry-container public">
    <h1><%= entry.title %></h1>
    <p class="entry-content"><%= entry.content %></p>
  </section>
<% end %> -->

<% @public_entries.each do |entry| %>
  <section class="single-entry-container public">
    <h1><%= entry.title %></h1>
    <p class="entry-content"><%= entry.content %></p>
  </section>
<% end %>