<section class="single-entry-container current-entry">

  <div class="entry-title-wrapper">
    <% Entry.where(private: false).each do |entry| %>
    <h1><%= entry.title %></h1>
    <h3><%= entry.content %></h3>
    <br>
    <% end %>
  </div>

</section>
