<h1>This is the single show page </h1>

<div class="single_entry_container">
  <div class="currentEntry"><h1><%= @entry.title %> </h1></div>
  <div class="currentEntry"><h1><%= @entry.content %> </h1></div>
  <div class="currentEntry"><h1><%= @entry.created_at.strftime("%b %d %Y")%> </h1></div>

  <button class="reward" onclick="goEntry(-1)">&#10094;</button>
  <button class="forward" onclick="goEntry(1)">&#10095;</button>

</div>
