// colours
$light-gray: #eee;
$dark-gray: #333;
$white: #fff;
$black: #000;
$blue: #00a1cc;
$red: #f00;
$brand: #a17d98;
$brand-gray: #585759;

//typography
$font-header: 'Oswald', sans-serif;
$font-normal: 'Roboto Condensed', sans-serif;