// colours
$light-gray: #eee;
$dark-gray: #333;
$white: #fff;
$black: #000;
$blue: #00a1cc;
$red: #f00;
$brand: #a17d98;
$brand-gray: #585759;

// transparent colours
$brand-trans: rgba(161, 125, 152, 0.3);
$brand-gray-trans: rgba(88, 87, 89, 0.2) ;

//typography
$font-header: 'Oswald', sans-serif;
$font-normal: 'Roboto Condensed', sans-serif;