.entry-wrapper {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    margin: 2rem auto;
  }

  .entry {
    &-container {
      background: darken($white, 5%);
      width: 150px;
      height: 200px;
      font-size: 1.4em;
      position: relative;
    }

    &-title {
      &-wrapper {
        display: inline-grid;
        width: inherit;
        height: inherit;
        position: absolute;
        left: 0;
        top: 0;

        &::before {
          content: '';
          position: absolute;
          width: inherit;
          height: inherit;
          opacity: 0.2;
          background: $brand;
          z-index: 0;
        }

        &:hover {
          &::before {
            opacity: 0.4;
          }
        }
      }
    }

    &-content {

    }

    &-date {
      align-self: end;
      font-family: $font-normal;
    }

    &-title, &-date {
      font-weight: 300;
      margin: 1rem auto;
      color: $white;
    }
  }
}

.single-entry-container {
  padding: 0 10px;
  // min-height: calc(100vh - 240px);

  @include tablet {
    margin: 0 auto;
    max-width: 70%;
    max-width: 70vw;
  }

  .entry-title-wrapper {
    margin: 1.6em 0;

    h1 {
      text-align: left;
    }

    h3 {
      text-align: left;
      font-family: $font-normal;
      font-weight: 300;
      font-size: 1.2em;
    }
  }

  .entry-content {
    white-space: pre-line;
    line-height: 1.2em;
  }
}