.entry-wrapper {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;

  .entry {
    &-container {
      background: darken($white, 5%);
      width: 150px;
      height: 200px;
      font-size: 1.4em;
      position: relative;

      &:hover {
        background: lighten($brand-gray, 50%);
      }
    }

    &-title {
      &-wrapper {
        display: inline-grid;
        width: inherit;
        height: inherit;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    &-content {

    }

    &-date {
      align-self: end;
      font-family: $font-normal;
    }

    &-title, &-date {
      font-weight: 300;
      margin: 1rem auto;
    }
  }
}

.single-entry-container {
  padding: 0 10px;

  .entry-title-wrapper {
    margin: 1.6em 0;

    h1 {
      text-align: left;
    }

    h3 {
      text-align: left;
      font-family: $font-normal;
      font-weight: 300;
      font-size: 1.2em;
    }
  }

  .entry-content {
    white-space: pre-line;
    line-height: 1.2em;
  }
}