.background {
  &:before {
  	background: url('noise.png');
  	content: "";
  	opacity: 0.5;
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	z-index: -2;
  }

  .gradient {
    @include linearGradient(right, #eee8f1, 0%, #d4d3dd, 100%);
  	opacity: 0.5;
  	position: absolute;
  	z-index: -3;
    width: inherit;
    height: inherit;
  }

  .bg2 {
  	opacity: 0.5;
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
    background: url('jess-watters-684713-unsplash.jpg');
    background-size: cover !important;
    background-position: center center !important;
    z-index: -4;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
  }
}

.bg1 {
  // background: rgba(255, 255, 255, 0.3);
  &:before {
  	content: "";
  	opacity: 0.2;
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
    // background: url('jess-watters-684713-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    z-index: -4;
  }
}

.btn-default {
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background: $brand;
  color: #fff;
  font-family: $font-normal;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 2px;
}

.btn-default:hover,
.btn-default:focus {
  background: lighten($brand, 10%);
}

.btn-default:focus {
  outline: none;
}

.btn-default:active {
  transform: scale(0.99);
}

.logo-wrapper {
  place-self: center;
  grid-column: 1 / span 2;

  @include desktop {
    grid-column: 1;
    place-self: center end;
  }

  .logo {
    margin: 0 auto;
    display: block;
    max-width: 200px;
  }
}

.splash-wrapper {
  .splash {
    margin: 0 auto;
    display: block;
    width: 180px;
  }
}

.current-user {
  grid-column: 1 / span 2;
  grid-row-start: 2;
  text-align: center;
  padding: 1rem 0 0;
}

.error-block {
  color: darken($brand-gray, 20%);
  background: $light-gray;
  position: absolute;
  width: 100%;
  top: 0;

  .notice {
    padding: 1rem;
  }

  .alert {
    padding: 1rem;
  }
}

.error-explanation {
  color: $red;
  margin: 2rem auto;

  h3 {
    color: darken($red, 20%);
    background: lighten($red, 40%);
    padding: 1rem;
    border-radius: 2px;
  }

  ul {
    margin: 1rem 2rem;
  }

  li {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
}

.field_with_errors {
  input {
    border: 1px solid $red;
  }
}

.hidden {
  display: none;
}
