.picture-wrapper {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 1.5rem auto;
}

.picture {
  position: absolute;

  &-container {
    background: darken($white, 5%);
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    width: 150px;
    height: 200px;
  }
}

.picture-single {
  margin: 2rem auto;
  padding: 0 10px;

  .form-wrapper {
    padding: 0;
    text-align: left;
  }

  p {
    padding: 0 10px;
    margin: 0;
    font-weight: 400;
  }

  img {
    margin-bottom: 2rem;
  }

  a {
    margin: 2rem auto;
    font-size: 1.4em;
  }

  .btn-default {
    width: 100%;
    padding: 8px 0;
    color: $white;
  }
}