<section class="picture-wrapper">
  <% pictures.each do |picture| %>
    <%= link_to bg_picture_path(picture) do %>
      <%= image_tag(picture.image, class: "picture-container selected-picture", "data-imageid": picture.id) %>
    <% end %>
  <% end %>
</section>
