<section class="picture-wrapper">
  <% @pictures.each do |picture| %>
    <%= link_to bg_picture_path(picture) do %>
      <div class="picture-container picture" style="background: url('<%= image_path(picture.image) %>')"></div>
    <% end %>
  <% end %>
</section>